---
layout: layouts/base.njk
permalink: /
heroText: Yoga
heroDescription: Yoga for the mind, body and soul
heroImage: none
---

<div class="jumbotron jumbotron-fluid" style="background-image: url("{{heroImage | url}}");">
  <div class="container">
    <h1 class="hero-text display-4">{{heroText}}</h1>
    <p class="lead">{{heroDescription}}</p>
  </div>
</div>
<div class="container">
  {{ content | safe }}
</div>
