<nav class="navbar s-navbar navbar-expand-md navbar-light main-nav">
    <a id="nav-logo" class="navbar-brand header-font" href="/">{{siteName}}</a>
        <button class="navbar-toggler navbar-links" type="button" data-toggle="collapse"
            data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-links" id="collapsibleNavbar">
            <ul class="navbar-nav">
            </ul>
        </div>
    </div>
</nav>